html,body{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
}
#app {
  position: relative;
  width: 100%;
  height: 100%;
  
  font-family: Microsoft YaHei;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size:cover;
  background-repeat: no-repeat;
  overflow: hidden;
}